@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Oxygen:wght@700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #ff8342;
}

.hall {
  background-color: #64c4ed;
  height: 300px;
  width: 100%;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper, .wrapper-1, .wrapper-2, .wrapper-3, .wrapper-4, .wrapper-5, .wrapper-6 {
  height: 300px;
  border-right: solid 1px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.wrapper .main, .wrapper-1 .main, .wrapper-2 .main, .wrapper-3 .main, .wrapper-4 .main, .wrapper-5 .main, .wrapper-6 .main {
  width: 100px;
  height: 300px;
  background-color: #80d6ff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper .main i, .wrapper-1 .main i, .wrapper-2 .main i, .wrapper-3 .main i, .wrapper-4 .main i, .wrapper-5 .main i, .wrapper-6 .main i {
  font-weight: 50px;
  font-size: 50px;
  color: white;
  line-height: 270px;
}

.wrapper .left-slide, .wrapper-1 .left-slide, .wrapper-2 .left-slide, .wrapper-3 .left-slide, .wrapper-4 .left-slide, .wrapper-5 .left-slide, .wrapper-6 .left-slide {
  width: 0px;
  height: 300px;
  background-color: #93deff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper .left-slide i, .wrapper-1 .left-slide i, .wrapper-2 .left-slide i, .wrapper-3 .left-slide i, .wrapper-4 .left-slide i, .wrapper-5 .left-slide i, .wrapper-6 .left-slide i {
  font-weight: 50px;
  font-size: 80px;
  color: whitesmoke;
  line-height: 270px;
}

.wrapper .right-slide, .wrapper-1 .right-slide, .wrapper-2 .right-slide, .wrapper-3 .right-slide, .wrapper-4 .right-slide, .wrapper-5 .right-slide, .wrapper-6 .right-slide {
  width: 0px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wrapper .right-slide h1, .wrapper-1 .right-slide h1, .wrapper-2 .right-slide h1, .wrapper-3 .right-slide h1, .wrapper-4 .right-slide h1, .wrapper-5 .right-slide h1, .wrapper-6 .right-slide h1 {
  font-family: "Oxygen", sans-serif;
  display: block;
  margin-top: 75px;
  font-size: 55px;
  margin-left: 15px;
}

.wrapper .right-slide p, .wrapper-1 .right-slide p, .wrapper-2 .right-slide p, .wrapper-3 .right-slide p, .wrapper-4 .right-slide p, .wrapper-5 .right-slide p, .wrapper-6 .right-slide p {
  display: block;
  width: 430px;
  margin-top: 15px;
  font-size: 17px;
  line-height: 25px;
  margin-left: 15px;
  font-weight: 200px;
  font-family: "Oxygen", sans-serif;
}

.wrapper:hover .main, .wrapper-1:hover .main, .wrapper-2:hover .main, .wrapper-3:hover .main, .wrapper-4:hover .main, .wrapper-5:hover .main, .wrapper-6:hover .main {
  width: 0px;
}

.wrapper:hover .left-slide, .wrapper-1:hover .left-slide, .wrapper-2:hover .left-slide, .wrapper-3:hover .left-slide, .wrapper-4:hover .left-slide, .wrapper-5:hover .left-slide, .wrapper-6:hover .left-slide {
  width: 100px;
}

.wrapper:hover .right-slide, .wrapper-1:hover .right-slide, .wrapper-2:hover .right-slide, .wrapper-3:hover .right-slide, .wrapper-4:hover .right-slide, .wrapper-5:hover .right-slide, .wrapper-6:hover .right-slide {
  width: 500px;
}

.wrapper-1 .main-1 {
  width: 100px;
  height: 300px;
  background-color: #80d6ff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-1 .main-1 i {
  font-weight: 50px;
  font-size: 50px;
  color: white;
  line-height: 270px;
}

.wrapper-1 .left-slide1 {
  width: 0px;
  height: 300px;
  background-color: #005792;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-1 .left-slide1 i {
  font-weight: 50px;
  font-size: 80px;
  color: whitesmoke;
  line-height: 270px;
}

.wrapper-1 .right-slide1 {
  width: 0px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wrapper-1 .right-slide1 h1 {
  font-family: "Oxygen", sans-serif;
  display: block;
  margin-top: 75px;
  font-size: 55px;
  margin-left: 15px;
}

.wrapper-1 .right-slide1 p {
  display: block;
  width: 430px;
  margin-top: 15px;
  font-size: 17px;
  line-height: 25px;
  margin-left: 15px;
  font-weight: 200px;
  font-family: "Oxygen", sans-serif;
}

.wrapper-1:hover .main-1 {
  width: 0px;
}

.wrapper-1:hover .left-slide1 {
  width: 100px;
}

.wrapper-1:hover .right-slide1 {
  width: 500px;
}

.wrapper-2 .main-2 {
  width: 100px;
  height: 300px;
  background-color: #80d6ff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-2 .main-2 i {
  font-weight: 50px;
  font-size: 50px;
  color: white;
  line-height: 270px;
}

.wrapper-2 .left-slide2 {
  width: 0px;
  height: 300px;
  background-color: #007cb9;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-2 .left-slide2 i {
  font-weight: 50px;
  font-size: 80px;
  color: whitesmoke;
  line-height: 270px;
}

.wrapper-2 .right-slide2 {
  width: 0px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wrapper-2 .right-slide2 h1 {
  font-family: "Oxygen", sans-serif;
  display: block;
  margin-top: 75px;
  font-size: 55px;
  margin-left: 15px;
}

.wrapper-2 .right-slide2 p {
  display: block;
  width: 430px;
  margin-top: 15px;
  font-size: 17px;
  line-height: 25px;
  margin-left: 15px;
  font-weight: 200px;
  font-family: "Oxygen", sans-serif;
}

.wrapper-2:hover .main-2 {
  width: 0px;
}

.wrapper-2:hover .left-slide2 {
  width: 100px;
}

.wrapper-2:hover .right-slide2 {
  width: 500px;
}

.wrapper-3 .main-3 {
  width: 100px;
  height: 300px;
  background-color: #80d6ff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-3 .main-3 i {
  font-weight: 50px;
  font-size: 50px;
  color: white;
  line-height: 270px;
}

.wrapper-3 .left-slide3 {
  width: 0px;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#52c234), to(#25946b));
  background: linear-gradient(to bottom, #52c234, #25946b);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-3 .left-slide3 i {
  font-weight: 50px;
  font-size: 80px;
  color: whitesmoke;
  line-height: 270px;
}

.wrapper-3 .right-slide3 {
  width: 0px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wrapper-3 .right-slide3 h1 {
  font-family: "Oxygen", sans-serif;
  display: block;
  margin-top: 75px;
  font-size: 55px;
  margin-left: 15px;
}

.wrapper-3 .right-slide3 p {
  display: block;
  width: 430px;
  margin-top: 15px;
  font-size: 17px;
  line-height: 25px;
  margin-left: 15px;
  font-weight: 200px;
  font-family: "Oxygen", sans-serif;
}

.wrapper-3:hover .main-3 {
  width: 0px;
}

.wrapper-3:hover .left-slide3 {
  width: 100px;
}

.wrapper-3:hover .right-slide3 {
  width: 500px;
}

.wrapper-4 .main-4 {
  width: 100px;
  height: 300px;
  background-color: #80d6ff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-4 .main-4 i {
  font-weight: 50px;
  font-size: 50px;
  color: white;
  line-height: 270px;
}

.wrapper-4 .left-slide4 {
  width: 0px;
  height: 300px;
  background-color: #dc2f2f;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-4 .left-slide4 i {
  font-weight: 50px;
  font-size: 80px;
  color: whitesmoke;
  line-height: 270px;
}

.wrapper-4 .right-slide4 {
  width: 0px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wrapper-4 .right-slide4 h1 {
  font-family: "Oxygen", sans-serif;
  display: block;
  margin-top: 75px;
  font-size: 55px;
  margin-left: 15px;
}

.wrapper-4 .right-slide4 p {
  display: block;
  width: 430px;
  margin-top: 15px;
  font-size: 20px;
  line-height: 25px;
  margin-left: 15px;
  font-weight: 200px;
  font-family: "Oxygen", sans-serif;
}

.wrapper-4:hover .main-4 {
  width: 0px;
}

.wrapper-4:hover .left-slide4 {
  width: 100px;
}

.wrapper-4:hover .right-slide4 {
  width: 500px;
}

.wrapper-5 .main-5 {
  width: 100px;
  height: 300px;
  background-color: #80d6ff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-5 .main-5 i {
  font-weight: 50px;
  font-size: 50px;
  color: white;
  line-height: 270px;
}

.wrapper-5 .left-slide5 {
  width: 0px;
  height: 300px;
  background-color: #142d4c;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-5 .left-slide5 i {
  font-weight: 50px;
  font-size: 80px;
  color: whitesmoke;
  line-height: 270px;
}

.wrapper-5 .right-slide5 {
  width: 0px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wrapper-5 .right-slide5 h1 {
  font-family: sans-serif;
  display: block;
  margin-top: 75px;
  font-size: 65px;
  margin-left: 15px;
  font-weight: 700px;
}

.wrapper-5 .right-slide5 p {
  display: block;
  width: 480px;
  margin-top: 15px;
  font-size: 18px;
  line-height: 25px;
  margin-left: 15px;
  font-weight: 200px;
  font-family: "Oxygen", sans-serif;
}

.wrapper-5:hover .main-5 {
  width: 0px;
}

.wrapper-5:hover .left-slide5 {
  width: 100px;
}

.wrapper-5:hover .right-slide5 {
  width: 500px;
}

.wrapper-6 .main-6 {
  width: 100px;
  height: 300px;
  background-color: #80d6ff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-6 .main-6 i {
  font-weight: 50px;
  font-size: 50px;
  color: white;
  line-height: 270px;
}

.wrapper-6 .left-slide6 {
  width: 0px;
  height: 300px;
  background: #eb3349;
  background: -webkit-gradient(linear, left bottom, left top, from(#f45c43), to(#eb3349));
  background: linear-gradient(to top, #f45c43, #eb3349);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-align: center;
}

.wrapper-6 .left-slide6 i {
  font-weight: 50px;
  font-size: 80px;
  color: whitesmoke;
  line-height: 270px;
}

.wrapper-6 .right-slide6 {
  width: 0px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wrapper-6 .right-slide6 h1 {
  font-family: "Oxygen", sans-serif;
  display: block;
  margin-top: 75px;
  font-size: 65px;
  margin-left: 15px;
  font-weight: 700px;
}

.wrapper-6 .right-slide6 p {
  display: block;
  width: 460px;
  margin-top: 15px;
  font-size: 18px;
  line-height: 25px;
  margin-left: 15px;
  font-weight: 200px;
  font-family: "Oxygen", sans-serif;
}

.wrapper-6:hover .main-6 {
  width: 0px;
}

.wrapper-6:hover .left-slide6 {
  width: 100px;
}

.wrapper-6:hover .right-slide6 {
  width: 500px;
}
/*# sourceMappingURL=lesson10.css.map */